.calculator-display {
    height: 124px;
    width: 432px;
    background-color: #222222;
    border: 2px solid gray;
    color: white;
    font-size: 4.5rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}