.header-container {
    display: flex;
}

.header-content {
    padding-left: 9px;
}

.header-content h3 {
    margin: 10px 0px;
    font-size: 1rem;
}

.header-content p {
    margin-top: 5px;
    font-size: 0.95rem;
    line-height: 20px;
}

.header-content h3 span {
    margin-left: 5px;
    font-size: 0.85rem;
    color: grey;
    font-weight: 300;
}

.image-thumbnail {
    height: 55px;
}