.long-button {
    height: 92px;
    color: #222222;
    font-size: 3rem;
    border: 2px solid gray;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 332px;
}